/* css-tensei: blog.css
 * SPDX-License-Identifier: NCSA */

/* this file consists rules for a simple single column blog layout
 * it assumes that the HTML page it's used follows semantic HTML5 layout
 * structure and uses tags like <header>, <nav>, <main>, and <footer> inside
 * <body> */

/* if <ol> or <ul> are explicitly assigned the role of "list", removed the
 * list-style-type markers and padding
 *
 * this layout is usually used to construct links inside <nav> using flex,
 * inline-flex, and inline-block layout */
:where(ol, ul)[role="list"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

/* increase padding to make box size at least 48px for hyperlinks in navigation
 * menus because they're tap targets */
:where(ol, ul)[role="list"] a:any-link {
  padding: 0.75em 0.25em;
}
