@media screen {
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  /* SC 2.5.5 and Google a11y requirements of tap-targets */
  button,
  input,
  select {
    padding: 0.75em 0.5em;
  }

  /* prevent input elements from becoming insane on mobile devices
   * it seems like input elements don't respect max-width so we'll have to set
   * width to 100% to enforce sensible width behavior although this extends the
   * width of some input elements like 'file' beyond what's necessary */
  @media only screen and (max-width: 720px) {
    input {
      width: 100%;
    }
  }

  :where(button, input, select, textarea):disabled {
    cursor: not-allowed;
  }

  /* for consistency, change font-family to monospace font where ambiguity in
   * characters isn't desirable */
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="week"] {
    font-family: var(--mono-font);
  }

  :where(form, fieldset) > :where(div, p, ol, ul) {
    margin: 0.75em 0;
  }

  fieldset,
  form {
    margin: 1em 0;
  }

  fieldset,
  legend {
    border: 1px solid var(--fg-border);
  }

  legend {
    border-radius: 0.25em;
    color: var(--fg-hsb);
    padding: 3px 0.5em;
  }

  /* keep labels vertically aligned with their corresponding input elements for
   * better readability
   * https://archive.is/u4BA1 */
  label {
    display: block;
    padding: 0.75em 0;
  }

  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    appearance: none;
    background-color: var(--bg-text);
    border-radius: 0.25em;
    border: 1px solid var(--fg-border);
    color: var(--fg-text);
    display: block;
  }

  /* it's better to set textarea width to 100% to prevent overflow and cols
   * values that would make textarea overflow */
  textarea {
    max-width: 100%;
    padding: 0.5em;
    width: 100%;
  }

  /* ex units represent the height of the letter 'x' in a font and as such, it
   * seems to be an appropriate unit for height
   * this unit is widely supported across web browsers */
  textarea:not([rows]) {
    height: 15ex;
  }

  input[type="date"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="email"]:disabled,
  input[type="month"]:disabled,
  input[type="number"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="week"]:disabled,
  textarea:disabled {
    background-color: var(--bg-dis);
    color: var(--fg-dis);
  }

  input[type="date"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus,
  textarea:focus {
    border-radius: 1px;
    outline: var(--fg-link) solid 3px;
  }

  input[type="date"]:hover:not(:read-only),
  input[type="datetime-local"]:hover:not(:read-only),
  input[type="email"]:hover:not(:read-only),
  input[type="month"]:hover:not(:read-only),
  input[type="number"]:hover:not(:read-only),
  input[type="password"]:hover:not(:read-only),
  input[type="search"]:hover:not(:read-only),
  input[type="tel"]:hover:not(:read-only),
  input[type="text"]:hover:not(:read-only),
  input[type="time"]:hover:not(:read-only),
  input[type="url"]:hover:not(:read-only),
  input[type="week"]:hover:not(:read-only),
  textarea:hover:not(:read-only) {
    border-color: var(--fg-text);
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.5em;
    vertical-align: middle;
  }

  input[type="color"] {
    padding: 0.25em;
  }

  select {
    background-color: var(--bg-text);
    border-radius: 0.25em;
    border: 1px solid var(--fg-border);
    color: var(--fg-text);
  }

  select:focus {
    border-radius: 1px;
    outline: var(--fg-link) solid 3px;
  }

  select:disabled {
    background-color: var(--bg-dis);
    color: var(--fg-dis);
  }

  select:hover:not(:disabled) {
    border-color: var(--fg-text);
  }

  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    appearance: none;
    background-color: var(--bg-text);
    border-radius: 0.25em;
    border: 1px solid var(--fg-border);
    box-shadow: 0 4px 0 1px var(--bg-dis);
    color: var(--fg-text);
    margin: 0.5rem 0;
    position: relative;
    top: -1px;
  }

  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    border-radius: 1px;
    outline: var(--fg-link) solid 3px;
  }

  @supports selector(:focus-visible) {
    button:focus:not(:focus-visible),
    input[type="submit"]:focus:not(:focus-visible),
    input[type="reset"]:focus:not(:focus-visible),
    input[type="button"]:focus:not(:focus-visible) {
      outline: none;
    }
  }

  button:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="button"]:disabled {
    background-color: var(--bg-dis);
    color: var(--fg-dis);
  }

  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled),
  input[type="reset"]:hover:not(:disabled),
  input[type="button"]:hover:not(:disabled) {
    border-color: var(--fg-text);
    background-color: var(--bg-form);
  }

  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled),
  input[type="reset"]:active:not(:disabled),
  input[type="button"]:active:not(:disabled) {
    border-color: var(--fg-text);
    box-shadow: 0 1px 0 1px var(--fg-border);
    top: 1px;
  }

  @media (prefers-color-scheme: dark) {
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      box-shadow: 0 4px 0 1px var(--fg-dis);
    }

    button:active:not(:disabled),
    input[type="submit"]:active:not(:disabled),
    input[type="reset"]:active:not(:disabled),
    input[type="button"]:active:not(:disabled) {
      box-shadow: 0 1px 0 1px var(--fg-border);
    }
  }

  input[type="file"]:focus {
    border-radius: 1px;
    outline: var(--fg-link) solid 3px;
  }

  @supports selector(:focus-visible) {
    input[type="file"]:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
