/* css-tensei: main.css
 * SPDX-License-Identifier: NCSA */

:root {
  /* this font stack respects user choice and uses the fonts set in the web
   * browser settings
   *
   * if a "sensible" default is preferable, the following font stack might work
   * --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, sans-serif;
   * --mono-font: Menlo, "Cascadia Mono", Consolas, "IBM Plex Mono", monospace;
   * --serif-font: Baskerville, "Cambria", "Source Serif Pro", serif; */
  --sans-font: sans-serif;
  --mono-font: monospace, monospace;
  --serif-font: serif;

  /* start increasing the base font size of 16px (1rem) from a 390px width
   * viewport to a maximum of 18px (1.125rem) ending at 1024px width viewport
   *
   * this has been done to account for the difference in viewing distance
   * between a touch device and a monitor display. although 18px on touch
   * devices is fine, we can get a more characters and words on a single line
   * on touch devices if we scale back to 16px, which is the minimum acceptable
   * font size.
   *
   * using the clamp function saves us from defining multiple media query
   * breakpoints
   * https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/ */
  --base-font-size: clamp(1rem, calc(0.923rem + 0.315vw), 1.125rem);
}
